<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/main.html :: head" th:with="title='Home'">
<title>index</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../../public/stylesheets/main.css" />
</head>
<body>

	<div id="header" th:include="/main.html :: header">
		<div id="logo">yabe.</div>
		<ul id="tools">
			<li><a href="../admin/index.html">Log in to write something</a></li>
		</ul>
		<div id="title">
			<span class="about">About this blog</span>
			<h1>
				<a href="#">Blog Title</a>
			</h1>
			<h2>Baseline</h2>
		</div>
	</div>

	<div id="main">
		<div th:text="${@controllers.Application@TEST_STATIC_VALUE}">Test value comes here.</div>

        <div th:if="${frontPost}" th:remove="tag">

		<div th:remove="tag" th:include="/tags/display.html :: showPost" th:with="_post=${frontPost}, _as='home'">
			latest post here.
		</div>

        <div class="older-posts" th:if="${!olderPosts.empty}">
            <h3>Older posts <span class="from">from this blog</span></h3>
			<span th:remove="tag" th:each="oldPost : ${olderPosts}" th:with="_post=${oldPost}, _as='teaser'">
				<span th:substituteBy="/tags/display.html :: showPost"></span>
			</span>
        </div>

        </div>

	    <div class="empty" th:unless="${frontPost}">
	        There is currently nothing to read here.
	    </div>
    </div>

    <p id="footer" th:include="/main.html :: footer">
    footer
    </p>

    </body>
</html>
