<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:pl="http://www.playframework.org">
<head>
<title>display fragment</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../../public/stylesheets/main.css" />
</head>
<body>
<h2>Display a post in one of these modes: 'full', 'home' or 'teaser'</h2>

<div th:fragment="showPost" th:remove="tag">
<div class="post" th:classappend="${_as == 'teaser' ? 'teaser' : ''}">
    <h2 class="post-title">
        <a href="../Posts/show.html" pl:href="Application.show(_post.id)" th:text="${_post.title}">Post Title</a>
    </h2>
    <div class="post-metadata">
        <span class="post-author">by <span th:remove="tag" th:text="${_post.author.fullname}">Me</span></span>,
        <span class="post-date" th:text="${#dates.format(_post.postedAt, 'dd MMM yy')}">14 Aug 12</span>
        <span class="post-comments" th:if="${_as != 'full'}">
            &nbsp;|&nbsp; <span th:remove="tag" th:text="${(_post.comments.size ? _post.comments.size : 'no') + ' comment' + ext.pluralize(_post.comments)}">3 comments</span>
            <span th:remove="tag" th:if="${_post.comments.size}" th:text="', latest by ' + ${_post.comments[_post.comments.size -1].author}">, latest by Author A</span>
        </span>
        <span class="post-tags" th:if="${_as == 'full' &amp;&amp; _post.tags }">
        	<span th:remove="tag" th:each="tag,iterStat : ${_post.tags}"><a href="@{Application.listTagged(tag.name)}" th:text="${tag}">Tag</a><span th:remove="tag" th:text="${iterStat.last ? '' : ','}"></span></span>
        </span>
    </div>
    <div class="post-content" th:if="${_as != 'teaser'}">
        <div class="about">Detail: </div>
        <span th:remove="tag" th:utext="${ext.nl2br(ext.escape(_post.content))}">Post content comes here.</span>
    </div>
</div>

<div class="comments" th:if="${_as == 'full'}">
    <h3 th:text="${(_post.comments.size ? _post.comments.size : 'no') + ' comment' + ext.pluralize(_post.comments)}">3 comments</h3>
    
    <div class="comment" th:each="comment : ${_post.comments}">
        <div class="comment-metadata">
            <span class="comment-author" th:text="'by ' + ${comment.author + ','}">by Foo,</span>
            <span class="comment-date" th:text="${#dates.format(comment.postedAt, 'dd MMM yy')}">14 Jun 09</span>
        </div>
        <div class="comment-content">
            <div class="about">Detail: </div>
            <span th:tag="remove" th:text="${ext.nl2br(ext.escape(comment.content))}">Some comment.</span>
        </div>
    </div>
</div>
</div>
</body>
</html>