<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:pl="http://www.playframework.org">
<head>
<title>title</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../../public/stylesheets/main.css" />
</head>
<body>
<h2>Display a post in one of these modes: 'full', 'home' or 'teaser'</h2>

<div th:fragment="showPost" th:remove="tag">
<div class="post" th:classappend="${as == 'teaser' ? 'teaser' : ''}">
    <h2 class="post-title">
        <a href="../Posts/show.html" pl:href="Application.show(post.id)" th:text="${post.title}">Post Title</a>
    </h2>
    <div class="post-metadata">
        <span class="post-author">by <span th:remove="tag" th:text="${au=post.author, au.fullname}">Me</span></span>,
        <span class="post-date" th:text="${#dates.format(post.postedAt, 'dd MMM yy')}">14 Aug 12</span>
        <span class="post-comments" th:if="${as != 'full'}">
            &nbsp;|&nbsp; <span th:remove="tag" th:text="${p=post.comments,p.size()}">${_post.comments.size() ?: 'no'} comment${_post.comments.size().pluralize()}</span>
            #{if _post.comments}
                , latest by ${_post.comments[-1].author}
            #{/if}
        </span>
        
        #{if _as != 'full'}
            <span class="post-comments">
                &nbsp;|&nbsp; ${_post.comments.size() ?: 'no'} comment${_post.comments.size().pluralize()}
                #{if _post.comments}
                    , latest by ${_post.comments[-1].author}
                #{/if}
            </span>
        #{/if}
        #{elseif _post.tags}
            <span class="post-tags">
                - Tagged 
                #{list items:_post.tags, as:'tag'}
                    <a href="@{Application.listTagged(tag.name)}">${tag}</a>${tag_isLast ? '' : ', '}
                #{/list}
            </span>
        #{/elseif}
    </div>
    #{if _as != 'teaser'}
        <div class="post-content">
            <div class="about">Detail: </div>
            ${_post.content.nl2br()}
        </div>
    #{/if}
</div>
 
#{if _as == 'full'}
    <div class="comments">
        <h3>${_post.comments.size() ?: 'no'} comment${_post.comments.size().pluralize()}</h3>
        
        #{list items:_post.comments, as:'comment'}
            <div class="comment">
                <div class="comment-metadata">
                    <span class="comment-author">by ${comment.author},</span>
                    <span class="comment-date">${comment.postedAt.format('dd MMM yy')}</span>
                </div>
                <div class="comment-content">
                    <div class="about">Detail: </div>
                    ${comment.content.escape().nl2br()}
                </div>
            </div>
        #{/list}
        
    </div>
#{/if}
</div>
</body>
</html>